.footer {
  width: 100%;
  height: 12vh;
  background-color: rgb(3, 7, 24);
  border-top: 5px solid ivory;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.footer-icon {
  height: 55px;
  width: 55px;
}

.icon-anchor {
  background-color: white;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 15px;
}