.nav-bar {
  border-bottom: 5px solid ivory;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(3, 7, 24);
}

.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.left-nav {
  margin-left: 8vw;
}
.right-nav {
  margin-right: 7vw;
  width: 355px;
}