.home-container {
  min-height: 100vh;
  background-color: rgb(11, 11, 36);
}

.body {
  display: flex;
  justify-content: space-between;
}

.welcome-text-container {
  margin-left: 8vw;
  margin-top: 7vh;
  color: white;
  font-weight: bold;
}

.name {
  font-size: 75px;
}
.home-text {
  font-size: 32px;
}
.welcome-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-img-container > p {
  color: ivory;
  margin-right: 15vw;
  margin-top: 5vh;
  font-size: 20px;
}
.welcome-img {
  height: 420px;
  width: 370px;
  border-radius: 100%;
  border: 3px solid ivory;
  margin-right: 15vw;
  margin-top: 10vh;
}

.most-recent{
  text-align: center;
  margin-top: 100px;
  background-color: white;
  min-height: 50vh;
}

.most-recent-title {
  padding-top: 7vh;
  color: rgb(3, 7, 24);
  font-size: 72px;
}

.recent-project-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}
.recent-img {
  height: 50vh;
  box-shadow: 2px 2px 4px rgb(38, 38, 38);
}
.recent-descirption-container {
  box-shadow: 2px 2px 4px rgb(38, 38, 38);
  width: 25vw;
  height: 35vh;
  line-height: 4vh;
  padding: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .welcome-img {
    margin-right: 8vw;
  }
  .welcome-img-container > p {
    margin-right: 8vw;
  }
  .welcome-email {
    width: 400px;
  }
}
@media screen and (max-width: 475px) {
  .body {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 25px;
  }

  .home-text {
    font-size: 12px;
  }

  .welcome-text-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }

  .welcome-img {
    display: none;
  }

  .welcome-img-container > p {
    font-size: 12px;
    margin: 15px auto;
    margin-bottom: 0%;
  }

  .most-recent-title {
    font-size: 25px;
  }
  .recent-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  }
  .recent-img {
    width: 150px;
    height: 125px;
    margin-bottom: 5vh;
  }
  .recent-descirption-container > p {
    font-size: 12px;
    line-height: 2vh;
  }

}