.home-container {
  min-height: 100vh;
  background-color: rgb(0, 0, 46);
}

.body {
  display: flex;
  justify-content: space-between;
}

.welcome-text-container {
  margin-left: 8vw;
  margin-top: 7vh;
  color: white;
  font-weight: bold;
}

.name {
  font-size: 75px;
}
.home-text {
  font-size: 32px;
}

.welcome-img {
  height: 420px;
  width: 370px;
  border-radius: 100%;
  border: 3px solid ivory;
  margin-right: 15vw;
  margin-top: 10vh;
}

.most-recent{
  text-align: center;
  margin-top: 100px;
  background-color: white;
  min-height: 50vh;
}

.most-recent-title {
  padding-top: 7vh;
  color: rgb(3, 7, 24);
  font-size: 72px;
}

.recent-project-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}
.recent-img-container {
  border: 1px solid blue;
}
.recent-descirption-container {
  border: 1px solid black;
  width: 25vw;
  height: 25vh;
  line-height: 4vh;
  padding: 30px;
  display: flex;
  align-items: center;
}