.project-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  box-shadow: 2px 2px 4px rgb(38, 38, 38);
  width: 75vw;
  height: 50vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.project-img {
  height: 50vh;
  width: 40vw;
  box-shadow: 2px 2px 4px rgb(38, 38, 38);
}
.project-description-container {
  display: flex;
  align-items: center;
  line-height: 3.5vh;
  margin-right: 3vw;
}
.project-description {
  width: 25vw;
}